<%inherit file="/bones.html"/>
<%namespace name="f" file="/forms.html"/>
<%namespace name="r" file="/require.html"/>

<%!
import pylons, simplejson as json
from time import time
from pylons import tmpl_context as c
from desio.lib import helpers as h
from desio.lib import auth as a
%>
<%
name = 'binder.io'
if c.organization:
    name = c.organization.name
%>
<%def name="header()">
    ${parent.header()}
    ${r.require('ui')}
</%def>

<%def name="header_link()">
<%
    return pylons.config['pylons_url']
%>
</%def>

<div id="header"><header>
    <div id="header-inner"><hgroup>
        <div id="header-right">
        
            <%def name="header_right()">
                <%
                real_user = a.get_real_user()
                user = a.get_user()
                %>
                % if real_user:
                    <span class="user real-user" title="${real_user.username}">${real_user.human_name}</span>
                    % if user and user.id != real_user.id:
                        <span class="pretend-user user">[p: ${user.username}
                        <a href="${h.api_url('user', 'stop_pretending')}" class="reload-link">stop</a>]</span>
                    % endif
                    % if a.is_admin():
                    |
                    <a href="${h.url_for(controller='admin/search', action='index')}">admin</a>
                    % endif
                    |
                    <a href="${h.url_for(controller='auth', action='logout')}">logout</a>
                % else:
                    <a href="${h.url_for(controller='auth', action='login')}">login</a>
                % endif
            </%def>
            ${self.header_right()}
            
        </div>
        
        <h1><a href="${self.header_link()}">${name}</a></h1>
    </hgroup></div>
</header></div>

<%def name="pre_content()"></%def>
${self.pre_content()}
<div id="page">
    <div id="page-inner">
        
        ${next.body()}
        
        <div id="notification-display"></div>
    </div>
</div> <!--page-->
<%def name="post_content()"></%def>
${self.post_content()}

<div id="footer"><footer>
    <div id="footer-inner">
        <p>
            <%def name="footer()">binder.io</%def>
            ${self.footer()}
        </p>
    </div>
</footer></div>
