
##
## VERY VERY common things
##

## tab_def = [
##     ('Search', h.url_for(controller='admin/search', action='index'), True),
##     ('Reports', h.url_for(controller='admin/report', action='index')),
##     # add more!
## ] %>
<%def name="tabs(tab_def, current, id='tabs', className='tabs', bg=False)">

    <%def name="tab(label, url, first=False, index=None)">
        <% cur = current == label %>
        <a rel="${index}" class="tab ${first and 'first' or ''} ${cur and 'current' or ''}" href="${url}">
            <span>${label}</span>
            % if bg:
                <div class="bg"></div>
            % endif
        </a>
    </%def>
    <div id="${id}" class="${className}">
        
        % for i, t in enumerate(tab_def):
            ${tab(*t, index=i)}
        % endfor

    </div>
</%def>

<%def name="path_component_urls(project, path_components)">
<%
    #the first item is assumed to be the project name
    
    def build_href(p, name):
        return '<a href="%s">%s</a>' % (h.url_for(controller='organization/project', action='view', slug=project.slug, path=p), name)
    
    res = [build_href('', path_components[0])]
    accum = []
    for p in path_components[1:]:
        accum.append(p)
        res.append(build_href('/'.join(accum), p))
    
    return res
%>
</%def>