<%!
    from desio import utils
%>

##
## VERY VERY common things
##

## tab_def = [
##     ('Search', h.url_for(controller='admin/search', action='index'), True),
##     ('Reports', h.url_for(controller='admin/report', action='index')),
##     # add more!
## ] %>
<%def name="tabs(tab_def, current, id='tabs', className='tabs', bg=False)">

    <%def name="tab(label, url, first=False, index=None)">
        <% cur = current == label %>
        <a rel="${index}" class="tab ${first and 'first' or ''} ${cur and 'current' or ''}" href="${url}">
            <span>${label}</span>
            % if bg:
                <div class="bg"></div>
            % endif
        </a>
    </%def>
    <div id="${id}" class="${className}">
        
        % for i, t in enumerate(tab_def):
            ${tab(*t, index=i)}
        % endfor

    </div>
</%def>

<%def name="path_component_urls(project, path_components)">
<%
    #the first item is assumed to be the project name
    
    def build_href(p, name):
        return '<a href="%s">%s</a>' % (h.url_for(controller='organization/project', action='view', slug=project.slug, path=p), name)
    
    res = [build_href('', path_components[0])]
    accum = []
    for p in path_components[1:]:
        accum.append(p)
        res.append(build_href('/'.join(accum), p))
    
    return res
%>
</%def>

<%def name="feed(object, items, number=5, id='', template_id='activity-template')">
    <%
        items = items[:number]
    %>
    
    <%def name="feed_item(fid, type, raw_date, human_date, tiny_message, message)">
        <div class="item item-${fid}" data-id="${fid}" data-date="${raw_date}">
            <div class="icon ${type}">${tiny_message}</div>
            <div class="message">${message | n}</div>
            <div class="date">${human_date}</div>
        </div>
    </%def>
    
    <div id="${id}" class="activity-feed">
        <div class="feed-list">
            % for i in items:
                ${feed_item(i.id, i.type, utils.date_str(i.created_date), utils.relative_date_str(i.created_date), i.tiny_message, i.get_message())}
            % endfor
        </div>
        <div class="more">
            <a href="#">more</a>
        </div>
    </div>
    
    <script id="${template_id}" class="feed-item-template jstemplate" type="text/template">
        ${feed_item('{{id}}', '{{type}}', '{{raw_date}}', '{{human_date}}', '{{tiny_message}}', '{{message}}')}
    </script>
</%def>