<%inherit file="base.html"/>
<%namespace name="f" file="/forms.html"/>

<%!
    import pylons
%>

<%def name="header()">
    ${parent.header()}
    <style>
        
        .text {width: 355px;}
        
    </style>
    
    <script type="text/javascript">
        $(function(){
            form = $('form').Form();
            form.focusFirst();
        });
    </script>
    
</%def>

<%def name="header_right()">
</%def>

<h1 class="section-heading">Login</h1>

<div id="login-container">
    <form action="${h.url_for(controller='auth', action='login')}" method="post">
        ${f.text_chunk('username', label="Email")}
        ${f.password_chunk('password')}
        ${f.submit('Login', className="primary b114")}
    </form>
</div>

<%def name="footer()"><img src="/i/icons/heart.png" alt="&lt;3 design"/></%def>