<%inherit file="base.html"/>
<%namespace name="f" file="/forms.html"/>

<%!
    import pylons
%>

<%def name="header()">
    ${parent.header()}
    <style>
        .text {width: 355px;}
    </style>
    <script type="text/javascript">
        new Q.RegisterPage().readyrun();
    </script>
</%def>

<h2 class="section-heading">Register</h2>

<form action="${h.url_for(controller='auth', action='register')}" method="post">
    ${f.text_chunk('name', label='First and Last Name')}
    ${f.text_chunk('email')}
    ${f.password_chunk('password')}
    ${f.password_chunk('confirm_password')}
    ${f.hidden('default_timezone')}
    ${f.submit('Register', className="primary b114")}
</form>