<%inherit file="/base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="com" file="/common.html"/>

<%!
    import pylons
    from desio import utils
    from desio.model import APP_ROLE_ADMIN, APP_ROLE_WRITE, APP_ROLE_READ
%>

<%def name="header()">
    ${parent.header()}
    <style type="text/css">
    </style>
</%def>

<%def name="js_includes()">
    ${parent.js_includes()}
    ${r.require('controllers.organization')}
</%def>

<%def name="header_link()">
<%
    return c.user_role and '/' or pylons.config['pylons_url']
%>
</%def>

<%def name="project_sidepanel()">
    
    <div class="info">
        <p class="description">Below are your projects, they are blah blah blah whatever.</p>
    </div>
    <p></p>
    % if c.projects:
        <div class="projects">
        % for p in c.projects:
            <a href="${h.url_for(controller='organization/project', action='view', slug=p.slug)}" class="project ${c.project == p and 'selected' or ''}">
                <h3>${p.name}</h3>
                <% desc = utils.find_short_description(p.description, 50) %>
                % if desc:
                    <div class="description">
                        ${desc}
                    </div>
                % endif
            </a>
        % endfor
        </div>
        
        % if c.user_role == APP_ROLE_WRITE:
            <div class="new-button">
                <a id="new-project-link" class="icon-plus action" href="${h.url_for(controller='organization/project', action='new')}">New Project</a>
            </div>
        % endif
    % else:
        <p>
            No projects yet
            % if c.is_org_creator:
                <a href="${h.url_for(controller='organization/project', action='new')}">Make one</a>
            % endif
        </p>
    % endif
    
    % if c.user_role == APP_ROLE_ADMIN:
    <ul id="secondary-links">
        <li><a id="org-settings-link" href="${h.url_for(controller='organization/settings', action='users')}">Settings</a></li>
    </ul>
    % endif
</%def>

<%def name="sidepanel()">
</%def>
<%def name="sidepanel_tabs()">
    <%
    tab_def = [
        ('Projects', '#', True)
    ]
    if c.sidepanel_tab:
        tab_def.append(('Info', '#'))
    %>
    ${com.tabs(tab_def, tab_def[-1][0], 'sidepanel-tabs', className='sidepanel-tabs')}
</%def>

<%def name="sidepanel_container()">
    
    ${self.sidepanel_tabs()}
    
    <div id="sidepanels">
        <div class="sidepanel">
            ${self.project_sidepanel()}
        </div>
        
        % if c.sidepanel_tab:
            <div class="sidepanel">
                ${self.sidepanel()}
            </div>
        % endif
    </div>
</%def>

<%def name="content_header()">
</%def>
<%def name="content_subheader()">
</%def>

<div class="organization" id="org-${c.organization.subdomain}">
    <div id="sidepanel">
        ${self.sidepanel_container()}
    </div>
    
    <div id="content">
        
        
        <div id="content-header">
            <h1>
                ${self.content_header()}
            </h1>
            <div class="subheader">
                ${self.content_subheader()}
            </div>
        </div>
        
        <div id="content-inner">
            ${next.body()}
        </div>
    </div>
</div>