<%inherit file="/base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="com" file="/common.html"/>

<%!
from desio import utils
%>

<%def name="header()">
    ${parent.header()}
    <style type="text/css">
    </style>
</%def>

<%def name="js_includes()">
    ${parent.js_includes()}
    ${r.require('controllers.organization')}
</%def>

<%def name="project_sidepanel()">
    <div class="info">
        <ul>
            <li>Confused? <a href="#">Take the tour!</a></li>
            <li><a href="#">Some more info Here</a></li>
        </ul>
    </div>
    
    % if c.projects:
        <div class="projects">
        % for p in c.projects:
            <a href="${h.url_for(controller='organization/project', action='view', slug=p.slug)}" class="project ${c.project == p and 'selected' or ''}">
                <h3>${p.name}</h3>
                <% desc = utils.find_short_description(p.description, 50) %>
                % if desc:
                    <div class="description">
                        ${desc}
                    </div>
                % endif
            </a>
        % endfor
        </div>
        
        <div class="new-button">
            <a class="secondary b140" href="${h.url_for(controller='organization/project', action='new')}">Create a Project</a>
        </div>
    % else:
        <p>
            No projects yet
            % if c.is_org_creator:
                <a href="${h.url_for(controller='organization/project', action='new')}">Make one</a>
            % endif
        </p>
    % endif
</%def>

<%def name="sidepanel()">
</%def>

<div class="organization" id="org-${c.organization.subdomain}">
    <div id="sidepanel">
        <a href="#" id="sidepanel-collapse"></a>
        <%
        tab_def = [
            ('Projects', '#', True)
        ]
        if c.sidepanel_tab:
            tab_def.append((c.sidepanel_tab, '#'))
        %>
        ${com.tabs(tab_def, tab_def[-1][0], 'sidepanel-tabs')}
        
        <div id="sidepanels">
            <div class="sidepanel">
                ${self.project_sidepanel()}
            </div>
            
            % if c.sidepanel_tab:
                <div class="sidepanel">
                    ${self.sidepanel()}
                </div>
            % endif
        </div>
    </div>
    
    <div id="content">
        ${next.body()}
    </div>
</div>