<%inherit file="/base.html"/>
<%namespace name="f" file="/forms.html"/>
<%namespace name="r" file="/require.html"/>

<%!
    import pylons
%>

<%def name="header()">
    ${parent.header()}
    ${r.require('controllers.organization')}
    <style type="text/css">
        #page-inner, #header-inner, #footer-inner{width: 500px !important;}
        
        #create-box {
            background: #fff;
            border: 1px solid #e5e5e5; 
            padding: 15px 20px;
        }
        
        #create-box h3{
            font-size: 13pt;
            font-weight: normal;
            color: #333;
            margin: 20px 0 15px 0;
        }
        #create-box .form-chunk{
            margin-bottom: 15px;
        }
        #create-box .text{
            font-size: 13pt;
            padding: 8px 9px;
            width: 280px;
        }
    </style>
    <script type="text/javascript">
        var opts = {
            org_check_url: '${h.api_url('organization', 'get')}'
        };
        new Q.CreatePage(opts).readyrun();
    </script>
</%def>

<h2>Create an Account</h2>

<div id="create-box">
    <form action="${h.url_for(controller='organization/create', action='index')}" method="post">
        <h3>A little bit about your company</h3>
        ${f.text_chunk('company_name', title="Your company's name", label='')}
        
        ${f.form_chunk_start('subdomain', label='')}
        ${f.text('subdomain', title="yourdomain.binder.io")}
        ${f.form_chunk_end()}
        
        <h3>Now, a little bit about you</h3>
        ${f.text_chunk('name', title='Your Name', label='')}
        ${f.text_chunk('email', title='Email address', label='')}
        
        <h3>Your super secret password. Twice.</h3>
        ${f.password_chunk('password', title='Password', label='')}
        ${f.password_chunk('confirm_password', title='Type that password again!', label='')}
        ${f.hidden('default_timezone')}
        
        ${f.submit('Create', className='primary b114')}
    </form>
</div>

<%def name="footer()"><img src="/i/homepage/heartdesign.png" alt="&lt;3 design"/></%def>