<%inherit file="base.html"/>
<%namespace name="r" file="/require.html"/>

<%def name="js_includes()">
    ${parent.js_includes()}
    
</%def>

<h1>Your Dash</h1>

<h2>Projects</h2>

% if c.projects:
    <div><a href="${h.url_for(controller='organization/project', action='new')}">New</a></div>
    % for p in c.projects:
        <div><a href="${h.url_for(controller='organization/project', action='view', slug=p.slug)}">${p.name}</a></div>
    % endfor
% else:
    <p>
        No projects
        % if c.is_org_creator:
            <a href="${h.url_for(controller='organization/project', action='new')}">Make one</a>
        % endif
    </p>
% endif