<%inherit file="base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="com" file="/common.html"/>
<%namespace name="f" file="/forms.html"/>
<%namespace name="project" file="/modules/project.html"/>

<%!
    from desio import utils
    from desio.model import STATUS_APPROVED, APP_ROLE_NAMES
    from desio.model import APP_ROLE_ADMIN, APP_ROLE_WRITE, APP_ROLE_READ
    
    roles = [
        {'key': APP_ROLE_READ, 'value': APP_ROLE_NAMES[APP_ROLE_READ]},
        {'key': APP_ROLE_WRITE, 'value': APP_ROLE_NAMES[APP_ROLE_WRITE]},
        {'key': APP_ROLE_ADMIN, 'value': APP_ROLE_NAMES[APP_ROLE_ADMIN]}
    ]
%>
<%def name="js_includes()">
    ${parent.js_includes()}
    ${r.require('file', 'controllers.organization.project')}
</%def>

<%def name="header()">
    ${parent.header()}
    <style type="text/css">
        #email{width: 300px;}
        #invite-form{margin-bottom: 10px;}
    </style>
    
    <script type="text/javascript">
        new Q.OrgHomePage({
                organization: '${c.organization.eid}'
            }).readyrun();
    </script>
</%def>

<%def name="content_header()">
    <h2 class="section-heading">
        
        % if c.is_org_creator:
            <a class="actions icon-plus" href="${h.url_for(controller='organization/project', action='new')}">
                New Project
            </a>
        % endif
        
        All Projects
    </h2>
</%def>

<%
    users = [uc.user_id for uc in c.organization.get_user_connections(status=STATUS_APPROVED) if uc.user_id != c.organization.creator_id]
%>

<%def name="sidepanel()">
    <h3 class="section-heading">Recent Activity</h3>
    
    ${com.feed(c.organization, c.activity)}
    
    <h3 class="section-heading">
        % if c.is_org_admin:
            <a id="user-invite" class="actions icon-plus" href="">
                Invite Someone
            </a>
        % endif
        People
    </h3>
    
    ${com.users(c.users, collapse=12)}
    
</%def>

% if c.is_org_admin and not users:
    <p>
        It's looking pretty lonely in here.
        You should <a href="${h.url_for(controller='organization/settings', action='users')}">invite some folks</a>.
    </p>
% endif

% if c.project_data:
    <% pfiles = [fi for p, fi in c.project_data if fi] %>
    % if not pfiles:
        % if c.is_org_creator:
        <p>
            We haven't found any activity in any of your projects yet. You should head over to
            <a href="${h.url_for(controller='organization/project', action='view', slug=c.projects[0].slug)}">
                one of your projects
            </a>
            and drag some design files in there.
        </p>
        % else:
        <p>
            No activity in this organization yet.
        </p>
        % endif
    % endif
    
    <div id="projects">
    <% i = 0 %>
    % for p, files in c.project_data:
        <% url = h.url_for(controller='organization/project', action='view', slug=p.slug) %>
        <% ch = files and files[0].get_change() or p %>
        
        <div class="file-collection ${i%3 == 0 and 'posmod3' or ''} ${i%4 == 0 and 'posmod4' or ''}">
            ${project.file_collection_thumb(p.name, ch, url)}
        </div>
        <% i += 1 %>
    % endfor
    </div>
    
% else:

    <p>
        No projects yet.
        % if c.is_org_creator:
            <a href="${h.url_for(controller='organization/project', action='new')}">Make one</a>
        % endif
    </p>
% endif

% if c.is_org_admin:
<div id="share-dialog" class="dialog" title="Invite Someone">
    <p>Invite someone to this organization. Enter their email address.</p>
    
    <div>
        <form action="${h.api_url('invite', 'create', organization=c.organization.eid)}" id="invite-form">
            <p>${f.text('email', title='Enter an email address', autocomplete='off')}
            as ${f.dropdown('role', roles, selectedValue=APP_ROLE_WRITE)}</p>
            ${f.submit('Send', className='primary b114')}
        </form>
    </div>
</div>
% endif

<div class="clear"></div>