<%inherit file="base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="project" file="/modules/project.html"/>

<%!
    from desio import utils
%>
<%def name="js_includes()">
    ${parent.js_includes()}
    ${r.require('file', 'controllers.organization.project')}
</%def>

<%def name="header()">
    ${parent.header()}
    <style type="text/css">
        .project .files{
            height: 200px;
        }
    </style>
    
    <script type="text/javascript">
        new Q.OrgHomePage({}).readyrun();
    </script>
</%def>

<h1>Your Dash</h1>

% if c.projects:
    <div id="projects">
    % for p, files in c.project_data:
        <div class="project">
            <h2><a href="${h.url_for(controller='organization/project', action='view', slug=p.slug)}">${p.name}</a></h2>
            
            % if files:
                <div class="files">
                % for f in files:
                    <% ch = f.get_change() %>
                    <div class="file">
                        ${project.file_thumb(p, f.name, ch.version, f.full_path, ch.thumbnail_url, ch.creator.human_name, utils.relative_date_str(ch.created_date), utils.file_size(ch.size), ch.number_comments)}
                    </div>
                % endfor
                </div>
            % endif
        </div>
    % endfor
    </div>
% else:
    <p>
        No projects
        % if c.is_org_creator:
            <a href="${h.url_for(controller='organization/project', action='new')}">Make one</a>
        % endif
    </p>
% endif

<div class="clear"></div>