<%inherit file="/bones.html"/>

<%!
    import pylons
    from desio.lib import auth
%>

<%def name="header()">
    ${parent.header()}
    <style>
        #front-page{
            min-height: 500px;
            background: transparent url(../i/site/ibroughtthenoise.png) repeat;
        }
        #front-page h1{
            margin: 0;
            padding: 0;
            padding-top: 180px;
        }
        #footer-inner, #front-page-inner{
            width: 600px;
            margin: 0 auto;
        }
        
        #box{
            -moz-border-radius: 12px;
            height: 50px;
            padding: 10px 0;
            
        }
        
    </style>
</%def>

<div id="front-page">
    <div id="front-page-inner">
        <h1><img src="/i/homepage/logo.png" alt="binder.io"/></h1>
        
        <div id="box">
            <img src="/i/homepage/hangon.png" alt="hang on a bit. we're still working on it."/>
        </div>
    </div>
</div>

<div id="footer"><footer>
    <div id="footer-inner">
        <p>
            <img src="/i/homepage/heartdesign.png" alt="&lt;3 design"/>
        </p>
    </div>
</footer></div>