<%inherit file="../base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="com" file="/common.html"/>

<%def name="js_includes()">
    ${parent.js_includes()}
    ${r.require('controllers.organization.project')}
</%def>

<%def name="content_header()">
    <h2>
    % if c.path_components:
        <%
        urls = com.path_component_urls(c.project, c.path_components)
        %>
        % if len(urls) == 1:
            ${urls[0] | n} <span class="path-separator">/</span>
        % else:
            ${'<span class="path-separator">/</span>'.join(urls) | n}
        % endif
    % else:
        ${c.title}
    % endif
    </h2>
</%def>

${next.body()}
