<%inherit file="/base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="f" file="/forms.html"/>
<%namespace name="project" file="/modules/project.html"/>

<%!
    import simplejson as json
%>
<%def name="header()">
    ${parent.header()}
    ${r.require('project', 'controllers.organization', 'controllers.organization.project', 'skinny_page')}
    <style type="text/css">
        #name{width: 400px;}
        #description{width: 450px; height: 110px;}
        #add-user-pane{float: right; width: 450px;}
    </style>
    <script type="text/javascript">
        
        var params = ${json.dumps(c.project_user_module_params) | n};
        params.sync = false;
        new Q.ProjectCreatePage(params).readyrun();
        
    </script>
</%def>

<h1>${c.title}</h1>

<div id="add-user-pane">
    <h2>Add folks to the project</h2>
    <p>You can do this later too!</p>
    ${project.project_user_module(c.project_user_module_params['userMap'])}
</div>

<form id="new-form" action="${h.api_url('project', 'create', organization=c.organization.eid)}" method="post">
    
    ${f.text_chunk('name', label='Project Name')}
    ${f.textarea_chunk('description', label='Project Description', sublabel='optional')}
    
    <p>
        <a id="create-project-link" href="#" class="primary b114">Create Project</a>
    </p>
</form>