<%inherit file="base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="f" file="/forms.html"/>

<%def name="header()">
    ${parent.header()}
    <style type="text/css">
        #name{width: 500px;}
        #description{width: 550px; height: 150px;}
    </style>
    <script type="text/javascript">
        new Q.ProjectCreatePage({}).readyrun();
    </script>
</%def>

<h1>${c.title}</h1>

<form id="new-form" action="${c.requested_url}" method="post">
    ${f.text_chunk('name', label='Project Name')}
    ${f.textarea_chunk('description', label='Project Description', sublabel='optional')}
    
    <h2>Add folks to the project</h2>
    
    % if c.org_users:
        &nbsp;
    % else:
        <p>There are no other users to add :(. Have them
        <a href="${h.url_for(controller='organization/auth', action='register')}">register</a>
        and you can add them to the project later.</p>
    % endif
    
    ${f.submit('Create')}
</form>