<%inherit file="base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="f" file="/forms.html"/>
<%!
    import simplejson as json
%>
<%def name="header()">
    ${parent.header()}
    ${r.require('file', 'image')}
    <style type="text/css">
    
    </style>
    
    <script type="text/javascript">
    new Q.ViewFilePage({
        url: '${h.api_url('file', 'upload', project=c.project.eid)}',
        versions: ${json.dumps(c.file_dict) | n},
        comments: ${json.dumps(c.comments['comments']) | n},
        path: '${c.path}',
        boxWidth: 800,
        showDropTargetOn: 'elemdrag'//'bodydrag'
    }).readyrun();
    </script>
</%def>

<%def name="sidepanel()">
    <div class="info">
        % if c.file.description:
            <p id="description">${c.file.description}</p>
        % endif
        <ul>
            <li><a href="#">Download</a></li>
            <li><a href="#">Share this file</a></li>
        </ul>
    </div>
    
    <h3>Comments</h3>
    
    <div id="comments">
        
    </div>
    
    <div><a id="add-comment-link" href="#">add a comment</a></div>
    <div id="add-comment">
        <form method="post">
            <p>Enter your comment</p>
            <div>${f.textarea('body', id=None)}</div>
            ${f.submit('Add Comment')} <a href="#" class="cancel">cancel</a>
        </form>
    </div>
    
    <div id="reply-comment">
        <form method="post">
            <p>Craft your reply</p>
            <div>${f.textarea('body', id=None)}</div>
            ${f.submit('Add Reply')} <a href="#" class="cancel">cancel</a>
        </form>
    </div>
</%def>

<div id="toolbar">
    <a id="pin-toggle" class="secondary selected" href="#" title="Click to hide annotation pins."></a>
</div>

<div id="tabs"></div>

<div id="inpage-image-viewer">
    <div class="image-viewer">
        <div class="image-container">
            
        </div>
    </div>
</div>

<script id="tab-template" class="jstemplate" type="text/template">
    <span class="tab-text">v{{version}}</span>
</script>

<script id="image-template" class="jstemplate" type="text/template">
    <img src="{{url}}" />
    <div class="pins"></div>
</script>

<script id="pin-template" class="jstemplate" type="text/template">
    <img class="pin not-doc" src="${h.static_url('i', 'icons/blob.png')}" title="{{title}}" />
</script>

<script id="image-comment-template" class="jstemplate" type="text/template">
    <div class="comment-container">
        <form method="post">
            <p>Enter a comment</p>
            <div>${f.textarea('body', id=None)}</div>
            ${f.submit('Add Comment')}
        </form>
    </div>
</script>

<script id="popup-comment-template" class="jstemplate" type="text/template">
    <div class="comment-container">
    </div>
</script>

<script id="comment-template" class="jstemplate" type="text/template">
    <div class="time">{{time}} (v{{version}})</div>
    <div class="creator"><span>{{creator}}</span></div>
    <div class="body">{{body}}</div>
    <div class="replies"></div>
    <div><a href="#" class="reply-link">reply</a></div>
</script>

<div class="clear"></div>

