<%inherit file="base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="f" file="/forms.html"/>
<%namespace name="com" file="/common.html"/>
<%namespace name="project" file="/modules/project.html"/>
<%!
    import simplejson as json
    from desio.model import APP_ROLE_ADMIN, APP_ROLE_WRITE, APP_ROLE_READ
%>
<%def name="header()">
    ${parent.header()}
    ${r.require('file', 'project')}
    <style type="text/css">
        #sidepanels{width: 275px;}
        #description {width: 265px;}
        .subheader .meta {color: #999;}
        #project-settings-link{float: right;}
    </style>
    <script type="text/javascript">
    new Q.ViewProjectPage({
        module: '#files-module',
        previewImage: '/i/site/preview.png',
        url: '${h.api_url('file', 'upload', project=c.project.eid)}',
        directories: ${json.dumps(c.structure) | n},
        role: '${c.project_role}',
        tree: ${json.dumps(c.tree) | n},
        path: '${c.path}',
        collapsePreference: 'view_project_sidepanel_collapse',
        collapseInitially: ${c.real_user.get_preference('view_project_sidepanel_collapse', default='false')},
        showDropTargetOn: 'bodydrag'//'elemdrag'
    }).readyrun();
    </script>
</%def>

<%def name="content_class()">
<% return 'has-toolbar' %>
</%def>

<%def name="content_header()">
    <div id="content-toolbar">
        <a href="#" id="sidepanel-collapse"></a>
    </div>
    ${parent.content_header()}
</%def>

<%def name="content_subheader()">
    <div class="meta">To upload files, drag them into the area below.
    Supported filetypes: .psd, .pdf, .png, .gif, .jpg, .ai, .eps, .svg</div>
</%def>

<%def name="sidepanel()">
    
    <h3 class="section-heading project-heading">
        % if c.project_role == APP_ROLE_ADMIN:
            <a id="project-settings-link" class="icon-gear" href="${h.url_for(controller='organization/project', action='settings_index', slug=c.project.slug)}"></a>
        % endif
        
        Project:
        <a class="project-link" href="${h.url_for(controller='organization/project', action='view', slug=c.project.slug)}">
            ${c.project.name}
        </a>
    </h3>
    
    <div class="info">
        % if c.project.description:
            <p id="description">${c.project.description}</p>
        % elif c.project_role == APP_ROLE_ADMIN:
            <p id="description" class="placeholder">double click here to add a description</p>
        % endif
    </div>
    
    
    % if c.project_role in [APP_ROLE_ADMIN, APP_ROLE_WRITE] or len(c.tree) > 1:
        <h3 class="section-heading project-heading">
            % if c.project_role in [APP_ROLE_ADMIN, APP_ROLE_WRITE]:
            <div class="new-button">
                <a class="icon-plus alone actions add-directory-link" href="${h.api_url('project', 'add_directory', id=c.project.eid)}"></a>
            </div>
            % endif
            Folders
        </h3>
        
        <div id="root-directory">
            
            % if c.project_role in [APP_ROLE_ADMIN, APP_ROLE_WRITE]:
                <div id="no-dir-info">
                    <a href="${h.api_url('project', 'add_directory', id=c.project.eid)}" class="add-directory-link folder"></a>
                    <p>
                        Folders help you organize your designs.
                        <a href="${h.api_url('project', 'add_directory', id=c.project.eid)}" class="add-directory-link">Add One</a>
                    </p>
                </div>
            % endif
            
            <div class="dir-tree ${c.path == '/' and 'current' or ''}">
                
            </div>
            <div class="children">
            </div>
        </div>
    % endif
    
    <h3 class="section-heading">Recent Activity</h3>
    ${com.feed(c.project, c.activity)}
    
    <h3 class="section-heading">
        % if c.project_role == APP_ROLE_ADMIN:
            <a id="user-invite" class="user-invite actions icon-plus alone" href="#">
            </a>
        % endif
        People
    </h3>
    
    ${com.users(c.users, collapse=12)}
    
</%def>

<div id="files-module" class="role-${c.project_role} ${(not c.has_files and not c.directory_files) and 'no-data' or ''}">
</div>

% if c.directory_files:
    <div style="clear: left"></div>
    
    <h2 class="section-heading mid-content">Folders</h2>
    
    <div id="directory-view">
        % for i, df in enumerate(c.directory_files):
            <%
                d, f = df
                url = h.url_for(controller='organization/project', action='view', slug=c.project.slug, path=d[1:])
            %>
            <div class="file-collection ${i%3 == 0 and 'posmod3' or ''} ${i%4 == 0 and 'posmod4' or ''}">
                ${project.file_collection_thumb(d.split('/')[-1], f.get_change(), url)}
            </div>
        % endfor
    </div>
% endif

<div style="clear: left"></div>

<script id="root-template" class="jstemplate" type="text/template">
    <div class="files-container">
        <div class="files">
        </div>
        <div class="clearl"></div>
    </div>
</script>

<script id="dir-template" class="jstemplate" type="text/template">
    <h2><a href="${h.url_for(controller='organization/project', slug=c.project.slug, action='view')}{{full_path}}">{{name}}</a></h2>
    <div class="files-container">
        <div class="files">
        </div>
        <div class="clearl"></div>
    </div>
</script>

<script id="dir-tree-template" class="jstemplate" type="text/template">
    <h3>
        <div class="bg"></div>
        <a href="${h.url_for(controller='organization/project', slug=c.project.slug, action='view')}{{full_path}}">
            <div class="icon-folder"></div>
            <span>{{name}}</span>
        </a>
    </h3>
    <div class="children">
    </div>
</script>

${project.droptarget_template()}

<script id="upload-template" class="jstemplate" type="text/template">
    <div class="name-bar"></div>
    <div class="name">{{name}} - {{size}}</div>
    
    <div class="progress-text uploading">uploading...</div>
    <div class="progress-text processing">
        <img src="/i/loaders/16x16_arrows_white.gif"/>
        processing...
    </div>
    <div class="progress-bg"></div>
    <div class="progress-container">
        <div class="progress" style="width: 100%"></div>
    </div>
    <img class="thumb" src="/i/site/preview.png" />
</script>

<script id="file-template" class="jstemplate" type="text/template">
    ${project.file_thumb(c.project, '{{name}}', '{{version}}', '{{full_path}}', '{{thumbnail_url}}', '{{user}}', '{{created_date}}', '{{size}}', '{{number_comments}}')}
</script>
