<%inherit file="base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="f" file="/forms.html"/>
<%namespace name="project" file="/modules/project.html"/>
<%!
    import simplejson as json
    from desio.model import APP_ROLE_ADMIN, APP_ROLE_WRITE, APP_ROLE_READ
%>
<%def name="header()">
    ${parent.header()}
    ${r.require('file', 'project')}
    <style type="text/css">
        #sidepanels{width: 275px;}
        #description {width: 265px;}
        .subheader .meta {color: #999;}
    </style>
    <script type="text/javascript">
    new Q.ViewProjectPage({
        module: '#files-module',
        previewImage: '/i/site/preview.png',
        url: '${h.api_url('file', 'upload', project=c.project.eid)}',
        directories: ${json.dumps(c.structure) | n},
        role: '${c.project_role}',
        tree: ${json.dumps(c.tree) | n},
        path: '${c.path}',
        collapsePreference: 'view_project_sidepanel_collapse',
        collapseInitially: ${c.real_user.get_preference('view_project_sidepanel_collapse', default='false')},
        showDropTargetOn: 'bodydrag'//'elemdrag'
    }).readyrun();
    </script>
</%def>

<%def name="content_subheader()">
    <div class="meta">To upload files, drag them into the area below.
    Supported filetypes: .psd, .pdf, .png, .gif, .jpg, .ai, .eps, .svg</div>
</%def>

<%def name="sidepanel()">
    
    <div class="info">
        % if c.project.description:
            <p id="description">${c.project.description}</p>
        % endif
    </div>
    
    <div id="root-directory">
        
        <div class="dir-tree ${c.path == '/' and 'current' or ''}">
            
            <h3><a href="${h.url_for(controller='organization/project', slug=c.project.slug, action='view')}">Project Home</a></h3>
            <div class="bg"></div>
        </div>
        <div class="children">
        </div>
    </div>
    
    % if c.project_role in [APP_ROLE_ADMIN, APP_ROLE_WRITE]:
    <div class="new-button">
        <a class="icon-plus action" id="add-directory-link" href="${h.api_url('project', 'add_directory', id=c.project.eid)}">New Directory</a>
    </div>
    % endif
    
    % if c.project_role == APP_ROLE_ADMIN:
    <ul id="secondary-links">
        <li><a id="project-settings-link" href="${h.url_for(controller='organization/project', action='settings_index', slug=c.project.slug)}">Project Settings</a></li>
    </ul>
    % endif
</%def>

<a href="#" id="sidepanel-collapse" class="absolute"></a>

<div id="files-module" class="role-${c.project_role}">
</div>

<div style="clear: left"></div>

<script id="root-template" class="jstemplate" type="text/template">
    <div class="files-container">
        <div class="files">
        </div>
        <div class="clearl"></div>
    </div>
</script>

<script id="dir-template" class="jstemplate" type="text/template">
    <h2><a href="${h.url_for(controller='organization/project', slug=c.project.slug, action='view')}{{full_path}}">{{name}}</a></h2>
    <div class="files-container">
        <div class="files">
        </div>
        <div class="clearl"></div>
    </div>
</script>

<script id="dir-tree-template" class="jstemplate" type="text/template">
    <div class="bg"></div>
    <h3><a href="${h.url_for(controller='organization/project', slug=c.project.slug, action='view')}{{full_path}}">{{name}}</a></h3>
    <div class="children">
    </div>
</script>

${project.droptarget_template()}

<script id="upload-template" class="jstemplate" type="text/template">
    <div class="name-bar"></div>
    <div class="name">{{name}} - {{size}}</div>
    
    <div class="progress-text uploading">uploading...</div>
    <div class="progress-text processing">
        <img src="/i/loaders/16x16_arrows_white.gif"/>
        processing...
    </div>
    <div class="progress-bg"></div>
    <div class="progress-container">
        <div class="progress" style="width: 100%"></div>
    </div>
    <img class="thumb" src="/i/site/preview.png" />
</script>

<script id="file-template" class="jstemplate" type="text/template">
    ${project.file_thumb(c.project, '{{name}}', '{{version}}', '{{full_path}}', '{{thumbnail_url}}', '{{user}}', '{{created_date}}', '{{size}}', '{{number_comments}}')}
</script>
