<%inherit file="base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="f" file="/forms.html"/>
<%namespace name="project" file="/modules/project.html"/>
<%!
    import simplejson as json
%>
<%def name="header()">
    ${parent.header()}
    ${r.require('file')}
    <style type="text/css">
    
    </style>
    <script type="text/javascript">
    new Q.ViewProjectPage({
        module: '#files-module',
        previewImage: '/i/site/preview.png',
        url: '${h.api_url('file', 'upload', project=c.project.eid)}',
        directories: ${json.dumps(c.structure) | n},
        tree: ${json.dumps(c.tree) | n},
        path: '${c.path}',
        showDropTargetOn: 'bodydrag'//'elemdrag'
    }).readyrun();
    </script>
</%def>

<%def name="sidepanel()">
    <div class="info">
        % if c.project.description:
            <p id="description">${c.project.description}</p>
        % endif
    </div>
    
    <div id="root-directory">
        <h2>Directories</h2>
        <div class="children">
        </div>
    </div>
    
    <div class="new-button">
        <a class="secondary b140" id="add-directory-link" href="${h.api_url('project', 'add_directory', id=c.project.eid)}">Create a Directory</a>
    </div>
</%def>

<div id="files-module"></div>

<div style="clear: left"></div>

<script id="root-template" class="jstemplate" type="text/template">
    <div class="files-container">
        <div class="files">
        </div>
        <div class="clearl"></div>
    </div>
</script>

<script id="dir-template" class="jstemplate" type="text/template">
    <h2><a href="${h.url_for(controller='organization/project', slug=c.project.slug, action='view')}{{full_path}}">{{name}}</a></h2>
    <div class="files-container">
        <div class="files">
        </div>
        <div class="clearl"></div>
    </div>
</script>

<script id="dir-tree-template" class="jstemplate" type="text/template">
    <h3><a href="${h.url_for(controller='organization/project', slug=c.project.slug, action='view')}{{full_path}}">{{name}}</a></h3>
    <div class="children">
    </div>
</script>

<script id="droptarget-template" class="jstemplate" type="text/template">
    <div class="drop">
        <p>Drop files here</p>
    </div>
</script>

<script id="upload-template" class="jstemplate" type="text/template">
    <div class="name-bar"></div>
    <div class="name">{{name}} - {{size}}</div>
    
    <div class="progress-container">
        <div class="progress" style="width: 100%"></div>
        <div class="progress-text">100%</div>
    </div>
    <img src=""/>
</script>

<script id="file-template" class="jstemplate" type="text/template">
    ${project.file_thumb(c.project, '{{name}}', '{{version}}', '{{full_path}}', '{{thumbnail_url}}')}
</script>
