<%inherit file="base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="f" file="/forms.html"/>
<%namespace name="project" file="/modules/project.html"/>
<%namespace name="com" file="/common.html"/>

<%!
    import simplejson as json
    from desio import utils
    from desio.utils import image
    
    from desio.model import APP_ROLE_ADMIN, APP_ROLE_WRITE, APP_ROLE_READ, STATUS_PENDING, STATUS_IN_PROGRESS, STATUS_COMPLETED
    
    roles = [
        {'key': APP_ROLE_READ, 'value': 'can only comment'},
        {'key': APP_ROLE_WRITE, 'value': 'can create new versions'},
        {'key': APP_ROLE_ADMIN, 'value': 'is an admin on this file'}
    ]
    
    EXPORTING = {
        STATUS_PENDING: 'Fireworks pages export is pending',
        STATUS_IN_PROGRESS: 'Exporting pages is in progress...',
        STATUS_COMPLETED: 'Parsing Completed'
    }
%>
<%def name="header()">
    ${parent.header()}
    ${r.require('project', 'file', 'image')}
    <style type="text/css">
    % if not c.user_role:
        div.reply-box{display: none !important;}
    % endif
    #email{width: 225px;}
    .drop{display: none;}
    .project-link {text-transform: none;}
    </style>
    
    <script type="text/javascript">
    new Q.ViewFilePage({
        userRole: ${c.file_role and '"%s"' % c.file_role or 'null' | n},
        user: ${json.dumps(c.user_dict) | n},
        url: '${c.real_user and h.api_url('file', 'upload', project=c.project.eid) or ''}',
        editUrl: '${h.api_url('file', 'edit', id=c.file.eid) or ''}',
        versions: ${json.dumps(c.file_dict) | n},
        comments: ${json.dumps(c.comments['comments']) | n},
        path: '${c.path}',
        filePath: ${json.dumps(c.file.path) | n},
        name: ${json.dumps(c.file.name) | n},
        boxWidth: 818,
        fullBoxWidth: 1108,
        exportingStrings: ${json.dumps(EXPORTING) | n},
        collapsePreference: '${c.real_user and 'view_file_sidepanel_collapse' or ''}',
        collapseInitially: ${c.real_user and c.real_user.get_preference('view_file_sidepanel_collapse', default='false') or 'false'},
        showDropTargetOn: 'elemdrag'//'bodydrag'
    }).readyrun();
    </script>
</%def>

<%def name="content_class()">
    <% return 'has-toolbar' %>
</%def>
<%def name="pre_content()"><div id="single-file-page"></%def>
<%def name="post_content()"></div></%def>

<%def name="sidepanel()">
    <%
    %>
    <h3 class="section-heading project-heading">
        <div class="label">file:</div>
        <span id="name" class="project-link file-name">${c.file.name}</span>
        <div class="clearl"></div>
    </h3>
    <div id="file-meta">
        <div class="line">
            <b>v<span class="version">${c.head_change.version}</span></b> by
            <span class="name">${c.head_change.creator.human_name}</span>
            <span class="time">${utils.relative_date_str(c.head_change.created_date)}</span>
        </div>
        <div class="line">
            <span class="file-size">${utils.file_size(c.head_change.size)}</span>
            <span class="file-type">${c.head_change.human_file_type}</span>
        </div>
        
        % if c.head_change.parse_type in [image.PARSE_TYPE_FIREWORKS_CS4, image.PARSE_TYPE_FIREWORKS_CS5]:
            <div class="line parse-status parse-status-${c.head_change.parse_status}">
                <span class="exporting">${EXPORTING[c.head_change.parse_status] | n}</span>
            </div>
        % endif
    </div>
    <div class="info ${not c.user_role and 'no-role' or ''}">
        % if c.file.description:
            <p id="description">
                ${c.file.description}
            </p>
        % endif
        
        % if c.file_role in [APP_ROLE_WRITE, APP_ROLE_ADMIN]:
            <p>
                <span class="tip">Tip: drag a file in here to upload a new version!</span>
            </p>
            
            <div id="buttons">
                <a id="download-link" href="${c.head_change.download_url}" class="primary">Download</a>
                <a id="share-link" href="${h.url_for(controller='organization/file', action='view', project=c.project.eid, file=c.file.eid)}" class="primary">Share</a>
            </div>
        % endif
    </div>
    
    % if c.file_role:
        ##<h3 class="section-heading">
        ##    % if c.project_role == APP_ROLE_ADMIN:
        ##        <a id="user-invite" title="Invite Someone to ${c.project.name}" class="user-invite actions icon-plus alone" href="#">
        ##        </a>
        ##    % endif
        ##    Contributors
        ##</h3>
        ##${com.users(c.users, collapse=1)}
    % endif

    <h3 id="comments-header" class="section-heading">Notes for version <span class="version">${c.head_change.version}</span></h3>
    
    <div id="comments-view">
        <div id="comments-filter">
            <a href="#" class="selected" rel="all" title="Show all notes">All</a>
            <a href="#" rel="open" title="Show only open (uncompleted) notes">Open</a>
            <a href="#" rel="completed" title="Show only completed notes">Completed</a>
        </div>
        
        <div id="comments">
            
        </div>
        
        <div class="no-comments no-comments-all">
            This version of ${c.file.name} has no notes.
            Add one by dragging a box on the image and typing your comment.
        </div>
        <div class="no-comments no-comments-open">
            There are no open, uncompleted notes to show for this version.
            This is probably a good thing!
        </div>
        <div class="no-comments no-comments-completed">
            There are no completed notes to show for this version.
        </div>
    </div>
    
    ##<div><a id="add-comment-link" href="#">add a comment</a></div>
    <div id="add-comment">
        <form method="post">
            <p>Enter your comment</p>
            <div>${f.textarea('body', id=None)}</div>
            ${f.submit('Add Comment')} <a href="#" class="cancel">cancel</a>
        </form>
    </div>
    
    <div id="reply-comment">
        <form method="post">
            <div>${f.textarea('body', id=None)}</div>
            <div class="buttons">
                ${f.submit('Add Reply', className="primary b114 bleft")} <a href="#" class="cancel secondary b79 bleft">Cancel</a>
            </div>
        </form>
    </div>
</%def>

<%def name="content_header()">
    <div id="content-toolbar">
        <a href="#" id="sidepanel-collapse"></a>
        <a id="pin-toggle" class="selected" href="#" title="Click to hide annotation pins."></a>
        <a id="diff-toggle" class="" href="#" title="Click to show this version's changes."></a>
    </div>
    ${parent.content_header()}
</%def>

<%def name="content_subheader()">
    <div id="version-tabs" class="tabs"></div>
</%def>

<div id="inpage-image-viewer">
    <div class="image-viewer">
        <div class="image-container">
            
        </div>
    </div>
</div>

<div id="share-dialog" class="dialog" title="Share">
    % if c.file.get_role(c.user) == APP_ROLE_ADMIN:
        <p>You can invite somone to this file and allow them to collaborate with you on just
        this one file. Enter their email and role, then click send!</p>
        
        <div>
            <form action="${h.api_url('invite', 'create', entity=c.file.eid)}" id="invite-form">
                <p>${f.text('email', title='Enter an email address', autocomplete='off', selectedValue=APP_ROLE_READ)}
                who ${f.dropdown('role', roles)}</p>
                ${f.submit('Send', className='primary b114')}
            </form>
        </div>
        
        <div class="divider"></div>
    % endif
    
    <p>
        % if c.file.get_role(c.user) == APP_ROLE_ADMIN:
            Or, share
        % else:
            Share
        % endif
    this link with folks who are not a member of your organization.
    They will be able to view all the versions and the comments, but will not
    be able to contribute to the discission.</p>
    
    <pre>${h.get_domain(c.organization.subdomain)}${h.url_for(controller='organization/file', action='view', project=c.project.eid, file=c.file.eid)}</pre>

</div>

<script id="tab-template" class="jstemplate" type="text/template">
    <span class="tab-text {{comments_class}}">
        <span class="number-comments {{comments_class}}">{{number_comments_open}}</span>
        <span class="text">v{{version}}</span>
        <div class="arrow"></div>
    </span>
</script>

<script id="image-template" class="jstemplate" type="text/template">
    <h4 class="section-heading">Page {{index}}</h4>
    <img src="{{url}}" />
    <div class="pins"></div>
    <div class="no-diff">
        <p>No changes found between this version and the last.</p>
    </div>
</script>

<script id="pin-template" class="jstemplate" type="text/template">
    <div class="pin-inner not-doc" title="{{title}}">{{index}}</div>
</script>

<script id="image-comment-template" class="jstemplate" type="text/template">
    <div class="popup-container comment-container">
        <form method="post">
            <h4>Enter a Note</h4>
            <div>${f.textarea('body', id=None)}</div>
            <div class="buttons">
                ${f.submit('Add Note', className="primary b114 bleft")} <a href="#" class="cancel secondary b79 bleft">Cancel</a>
            </div>
        </form>
    </div>
</script>

<script id="popup-comment-template" class="jstemplate" type="text/template">
    <div class="popup-container comment-container">
    </div>
</script>

<script id="comment-template" class="jstemplate" type="text/template">
    <div class="number-comments">0</div>
    % if c.file_role in [APP_ROLE_ADMIN]:
        <a class="delete-link" href="#" title="delete this note">delete</a>
    % endif
    <a href="#" class="pin-small complete-indicator status-{{completion_status}}" title="Click to mark this note complete">{{index}}</a>
    <div class="creator">
        <span>{{creator}}</span> says
    </div>
    <div class="body">{{body}}</div>
    <div class="time">{{time}}</div>
    <div class="replies"></div>
    <div class="reply-box">
        <input type="text" class="text" value="Add a reply..."/>
    </div>
</script>

<script id="progress-overlay-template" class="jstemplate" type="text/template">
    <div class="progress-text uploading">uploading...</div>
    <div class="progress-text processing">
        <img src="/i/loaders/16x16_arrows_white.gif"/>
        processing...
    </div>
    <div class="progress-bg"></div>
    <div class="progress-container">
        <div class="progress" style="width: 100%"></div>
    </div>
</script>

${project.droptarget_template('Drop new version here')}

% if c.file.get_role(c.user) in [APP_ROLE_WRITE, APP_ROLE_ADMIN]:
    <p><a href="${h.url_for(controller='organization/file', action='delete', id=c.file.eid)}" class="delete-link icon-delete">delete this file</a></p>
% endif

<div class="clear"></div>
