<%inherit file="../base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="com" file="/common.html"/>

<%def name="js_includes()">
    ${parent.js_includes()}
    ${r.require('controllers.organization.settings', 'medium_page')}
    <style>
    #content-header h2{
        padding-left: 33px;
        background: transparent url(${h.static_url('i', 'icons/gear.png')}) no-repeat 0 0;
        height: 25px;
        line-height: 25px;
    }
    #content-inner{
        margin-top: 20px;
    }
    </style>
</%def>

<%def name="sidepanel_container()">
    
    <div id="sidepanels">
        <div class="sidepanel">
            <div class="info">
                <div class="description">
                    You can edit your account settings and organization settings here.
                </div>
            </div>
            
            <%
            tab_def = [
                #('Users', h.url_for(controller='organization/settings', action='users'), True),
                ('Organization', h.url_for(controller='organization/settings', action='general')),
                
            ] %>
            ${com.tabs(tab_def, c.tab, id='sidepanel-nav', className='sidepanel-nav', bg=True)}
            
            <ul id="secondary-links">
                <li><a href="${h.url_for(controller='organization/home', action='index')}">Back to your projects</a></li>
            </ul>
            
        </div>
    </div>
</%def>

<%def name="content_header()">
    <h2>${c.title}</h2>
</%def>

${next.body()}
<div class="clear"></div>