<%inherit file="base.html"/>
<%namespace name="r" file="/require.html"/>
<%namespace name="f" file="/forms.html"/>

<%!
    from desio.model import STATUS_PENDING, STATUS_REJECTED, STATUS_APPROVED
    from desio.model.users import APP_ROLE_ADMIN, APP_ROLE_WRITE, APP_ROLE_READ
    
    roles = [
        {'key': APP_ROLE_READ, 'value': 'Normal User'},
        {'key': APP_ROLE_WRITE, 'value': 'Collaborator'},
        {'key': APP_ROLE_ADMIN, 'value': 'Admin'}
    ]
%>
<%def name="header()">
    ${parent.header()}
    <style type="text/css">
    #invite input, #invite a, #invite select{float: left; margin-right: 10px; display: block;}
    #invite input {margin-top: 3px;}
    #invite .select {margin-top: 9px;}
    #invite-form{height: 34px; margin: 0 0 10px 0;}
    #invite h3 {margin-bottom: 5px;}
    #invite .email{width: 300px;}
    </style>
    <script type="text/javascript">
        new Q.UserSettingsPage({
            roleUrl: '${h.api_url('organization', 'set_user_role', organization=c.organization.id)}'
        }).readyrun();
    </script>
</%def>

##<% url = h.subdomain_url(c.organization.subdomain, controller='organization/auth', action='register') %>
##<p>Add new users by having them register at
##    <a href="${url}">${url}</a>, then come back here and approve them!</p>

<div id="invite">
    <h3>Invite more users</h3>
    <form id="invite-form" action="${h.api_url('invite', 'create', organization=c.organization.eid)}" method="post">
        ${f.text('email', id=None, className='email', title='Email Address', autocomplete='off')}
        ${f.dropdown('role', id=None, values=roles, selectedValue=APP_ROLE_WRITE)}
        <a href="#" class="icon-button secondary b79">
            <div class="icon icon-plus">Add</div>
        </a>
    </form>
</div>
<div class="user-list">
% for i in c.invites:
    <div class="user">
        <div class="actions">Invite Pending</div>
        <div class="name">${i.invited_email}</div>
    </div>
    
% endfor
% for ou in c.users:
    <div class="user" data-user="${ou.user.id}" >
        
        <div class="actions ${ou.status == STATUS_PENDING and 'hidden' or ''}">
            <a href="${h.api_url('organization', 'remove_user', organization=c.organization.id, u=ou.user.id)}" class="remove icon-delete">
            </a>
        </div>
        
        % if c.organization.creator != ou.user:
        
            % if ou.status == STATUS_PENDING:
                <div class="actions">
                    <a href="${h.api_url('organization', 'attachment_approval', organization=c.organization.id, u=ou.user.id, status=STATUS_APPROVED)}" class="approve">
                        approve
                    </a>
                    <a href="${h.api_url('organization', 'attachment_approval', organization=c.organization.id, u=ou.user.id, status=STATUS_REJECTED)}" class="remove">
                        reject
                    </a>
                </div>
            % endif
            
        % endif
        
        <div class="role ${ou.status == STATUS_PENDING and 'hidden' or ''}">
            % if c.organization.creator == ou.user:
                Organization Creator
            % else:
                ${f.dropdown('role', id=None, values=roles, selectedValue=ou.role)}
            % endif
        </div>
        
        <div class="name">${ou.user.human_name}</div>
        
        % if ou.user.human_name != ou.user.email:
            <div class="email"><a href="mailto:${ou.user.email}">${ou.user.email}</a></div>
        % endif
    </div>
% endfor
</div>

<script id="invited-template" class="jstemplate" type="text/template">
    <div class="user">
        <div class="actions">Invite Pending</div>
        <div class="name">{{invited_email}}</div>
    </div>
</script>

