/**
 * Single file page
 */

#tabs{
    height: 30px;
}
#tabs .tab{
    width: 36px; height: 30px; background: #f3f3f3;
    float: right;
    margin-left: 3px;
    color: #666;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    font-size: 9pt;
    cursor: pointer;
}
#tabs .tab.selected{
    color: #f0f0f0;
    background: #ccc;
}


#toolbar {float: left; height: 25px;}
/*****/
.image-viewer .top-bar{
    height: 35px;
    background: #333;
    color: #fff;
}
.image-viewer .top-bar .next-button{float: right; color: #fff}
.image-viewer .top-bar .previous-button{float: left; color: #fff}

.image-viewer .top-bar .text{text-align: center; font-weight: bold; line-height: 35px;}

.image-viewer .image{
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px 0;
    /*width: 960px;*/
    text-align: center;
}
.image-viewer .image img{
    max-width: 800px
}

/****/
.image .jcrop-holder{
    margin: 0 auto;
}
.image{position: relative;}

/****/
.new-image-comment{
    width: 294px;
    position: absolute;
    z-index: 1000;
}
.new-image-comment .comment-container{
    width: 250px;
    background: #eee;
    border: 2px solid #ccc;
    padding: 20px;
}
.new-image-comment p{margin-top: 0;}
.new-image-comment textarea{width: 240px;}

/****/
.popup-comment-view{
    width: 350px;
    position: absolute;
    z-index: 1000;
}
.popup-comment-view .comment-container{
    background: #eee;
    border: 2px solid #ccc;
}

/**comments**/

#comments>.comment{border-bottom: 1px solid #ccc;}
#comments .comment.selected{background: #fff;}
.comment{padding: 8px 10px;}
.replies .comment{padding-right: 0;}

.comment .time{
    float: right;
    font-weight: bold;
    color: #666;
    font-size: 9pt;
    line-height: 25px;
    height: 25px;
}
.comment .creator{ line-height: 25px; height: 25px; }
.comment .creator>span{font-weight: bold;}
.comment.position{cursor: pointer;}
.comment.position .creator{
    padding-left: 24px;
    background: transparent url(../../../i/icons/selection.png) 0 3px no-repeat;
}
.comment .body{margin-top: 5px;}
.comment .replies{padding-left: 10px;}

#reply-comment{display:none;}

/***pins****/

#pin-toggle{ float: left; width: 25px; height: 26px; background-image: url(../../../i/buttons/pin_toggle_25.png);}
.pins .pin{position: absolute; width: 37px; height: 37px; z-index: 1001;}