/***
 * Viewing multiple files: project directory or project frontpage.
 */

#files-module.no-data .files {min-height: 500px;}
.files-container{position: relative;}
.files{min-height: 115px;}

.file a:hover, .processing-file a:hover{
    text-decoration: none;
}

.file img, .processing-file img, .file-collection img{
    background: #fff url(../../../i/site/transparent.gif) repeat top left;
}
.file, .processing-file, .file-collection{
    margin: 0 0 10px 10px;
    padding: 10px;
    position: relative;
    float: left;
    overflow: hidden;
    background: #fff;
    border: 1px solid #e5e5e5;
    text-decoration: none;
}
.file .cover-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 270px;
    background: #fff;
}
.file .name-bar, .processing-file .name-bar{
    height: 30px;
    background: #000;
    position: absolute;
    bottom:10px; left: 10px;
    opacity: .7
}
.file .name, .processing-file .name{
    height: 30px;
    color: #fff;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    bottom:10px; left: 10px;
    padding-left: 8px;
}
.file .name-text, .processing-file .name-text{
    width: 200px;
    overflow: hidden;
}

.file .version{
    display: block;
    float: right;
    height: 30px;
    line-height: 30px;
    padding-right: 8px;
}

.file .extra-info{
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 244px;
    font-size: 9pt;
    font-weight: normal;
    color: #fff;
}
.file .extra-info .number-comments{
    position: absolute;
    bottom: 8px; right: 8px;
    height: 25px; width: 25px;
    background: transparent url(../../../i/icons/comment.png) no-repeat 0 0;
    text-align: center;
    line-height: 22px;
    font-size: 8pt;
    font-weight: bold;
    color: #333;
}
.file:hover .extra-info{ display: block; padding: 0 0 8px 8px;}
.file:hover .name-bar{ height: 85px; }
.file:hover .name{ bottom: 64px; }

/*
.file .extra-info{ display: block; padding: 0 0 8px 8px;}
.file .name-bar{ height: 85px; }
.file .name{ bottom: 54px; }
*/
.progress-bg, .progress-container{
    height: 30px;
    width: 230px;
    background: #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    top:100px; left: 19px;
    opacity: .4;
}

.progress-container{
    opacity: .8;
    background: none;
}
.progress{
    background: #60AFEE;
    height: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.progress-text.uploading{
    display: none;
}
.progress-text.processing img{
    display: block;
    float: right;
    width: 16px;
    height: 16px;
}
.progress-text{
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    width: 230px;
    height: 20px;
    top: 80px;
    left: 19px;
    background: none;
}

#content.collapsed .processing-file .progress-container,
#content.collapsed .processing-file .progress-bg,
#content.collapsed .processing-file .progress-text{
    width: 236px;
}

/* collection stuff */
.file-collection .info{
    padding-top: 8px;
}
.file-collection .name{
    color: #333;
    font-weight: normal;
    font-size: 11pt;
}
.file-collection .info .subtitle{
    color: #999;
    font-size: 8pt;
    font-weight: normal;
    margin-top: 3px;
}


/* deal with the effin margin issue and the file sizing*/

.file, .processing-file{width: 244px; height: 183px;}
.file img, .processing-file .thumb{width: 244px;}
.file .name-bar, .processing-file .name-bar{width: 244px;}
.file .name, .processing-file .name{width: 236px;}
.file .extra-info{width: 236px;}

.file-collection{width: 244px;}
.file-collection img{width: 244px; height: 188px; display: block;}

#content.collapsed .file, #content.collapsed .processing-file{width: 248px; }
#content.collapsed .file img, #content.collapsed .processing-file .thumb{width: 248px;}
#content.collapsed .file .name-bar, #content.collapsed .processing-file .name-bar{width: 248px;}
#content.collapsed .file .name, #content.collapsed .processing-file .name{width: 240px;}
#content.collapsed .file .extra-info{width: 240px;}

#content.collapsed .file-collection.posmod3, #content.collapsed .file.posmod3, #content.collapsed .processing-file.posmod3{margin-left: 10px;}
#content.collapsed .file-collection.posmod4, #content.collapsed .file.posmod4, #content.collapsed .processing-file.posmod4{margin-left: 0;}

#content .file-collection.posmod3, #content .file.posmod3, #content .processing-file.posmod3{margin-left: 0;}

/** dir sidebar **/

#add-directory-link{
    display: block;
}

#root-directory{margin: 7px 0 15px 0;}
#root-directory h2{margin: 0 0 10px 0}

/*** other ***/

.project-heading .project-link{
    text-transform: capitalize;
    color: #333;
}

#no-dir-info p{
    margin-left: 95px;
    font-size: 12pt;
    color: #666;
    line-height: 1.3em;
}
#no-dir-info .folder{
    display: block;
    width: 77px;
    height: 52px;
    background: transparent url(../../../i/icons/folder_large.png) no-repeat top left;
    float: left;
}
#no-dir-info .folder:hover{
    background-position: bottom left;
}