<%namespace name="f" file="/forms.html"/>
<%!
import pylons
from desio.config.frontend_modules import JS, CSS
from desio.model.projects import APP_ROLE_READ, APP_ROLE_WRITE, APP_ROLE_ADMIN
from desio import utils

roles = [
    {'key': APP_ROLE_READ, 'value': 'Normal User'},
    {'key': APP_ROLE_WRITE, 'value': 'Collaborator'},
    {'key': APP_ROLE_ADMIN, 'value': 'Admin'}
]
%>
    
##
## users: the user objects within the organization
## 
<%def name="project_user_module(users)">
    <%project_id = c.project and c.project.eid or ''%>
    <div id="project-user-module">
    % if users:
        <div id="add-project-user">
            <form action="${h.api_url('project', 'attach_user', project=project_id)}" method="post">
                ${f.text('u', id='user-email', title='john.doe@example.com', autocomplete='off')} 
                ${f.dropdown('role', id=None, values=roles, selectedValue=APP_ROLE_WRITE)}
                <input type="submit" value="Add" class="secondary b79" />
            </form>
        </div>
        
        <div id="project-users" class='user-list'>
            <form method="post">
            </form>
        </div>
        
        <script id="project-user-template" class="jstemplate" type="text/template">
            <div class="actions">
                <a href="${h.api_url('project', 'remove_user', project=project_id)}&u={{uid}}" class="remove icon-delete">
                </a>
            </div>
            
            <div class="role">
                ${f.dropdown('role', id=None, values=roles)}
            </div>
            
            <div class="name">{{name}}</div>
            
        </script>
        <script id="project-invite-template" class="jstemplate" type="text/template">
            <div class="actions">
                Invitation Pending
            </div>
            
            <div class="name">{{name}}</div>
            
        </script>
    % else:
        <p>There are no other users to add :(. Have them
        <a href="${h.url_for(controller='organization/auth', action='register')}">register</a>
        and you can add them to the project later.</p>
    % endif
    </div>
</%def>

<%def name="file_thumb(project, name, version, full_path, url, user, updated, size, number_comments, subdomain=None)" >
    <%
    if subdomain:
        base_url = h.url_for(sub_domain=subdomain, controller='organization/project', action='view', slug=project.slug)
    else:
        base_url = h.url_for(controller='organization/project', action='view', slug=project.slug)
    %>
    <a href="${base_url}${full_path}">
        <div class="name-bar"></div>
        <div class="cover-bar"></div>
        <div class="name">
            <span class="version">v${version}</span>
            <div class="name-text">${name}</div>
        </div>
        <div class="extra-info">
            <div class="number-comments">${number_comments}</div>
            <div>${size}</div>
            <div>updated ${updated}</div>
            <div>by ${user}</div>
        </div>
        <img src="${url}" />
    </a>
</%def>

<%def name="file_collection_thumb(name, change, url, className='', defaultImage='/i/site/empty_project.png', **kw)" >
    <a href="${url}" class="${className}">
        <img src="${hasattr(change, 'thumbnail_url') and (change.base_url+change.thumbnail_url) or defaultImage}" />
        <div class="info">
            <span class="name">${name}</span>
            <div class="subtitle">${utils.relative_date_str(change.created_date)} by ${change.creator.human_name}</div>
            
            % if kw:
                <div class="extra">
                    % for k, v in kw.items():
                        <div class="${k}">${v}</div>
                    % endfor
                </div>
            % endif
        </div>
    </a>
</%def>

<%def name="droptarget_template(text='Drop files here')" >
    <script id="droptarget-template" class="jstemplate" type="text/template">
        <div class="drop">
            <div class="target"></div>
            <div class="drop-inner">
                <p>${text}</p>
            </div>
        </div>
    </script>
</%def>