.primary, .secondary{
    color: #fff;
	display: block;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top left;
	border: 0;
    height: 33px;
    padding-top: 1px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #666;
    text-align: center;
    font-size: 10pt;
    line-height: 33px;
}
input.primary, input.secondary{padding-bottom: 2px; height: 34px;}

.primary:hover, .secondary:hover{background-position: center left;}
.primary.disabled, .secondary.disabled,
.primary.selected, .secondary.selected{background-position: bottom left;}

.primary:hover, .primary:active, .primary:visited,
.secondary:hover, .secondary:active, .secondary:visited{
    text-decoration: none;
    color: #fff;
}

.secondary:hover, .secondary:active, .secondary:visited, .secondary{
    color: #666;
    height: 34px;
    line-height: 36px;
    font-size: 10pt;
    text-shadow: 1px 1px 1px #fff;
}
.secondary.disabled{ color: #888; }
/****/

.icon-button .icon{
    margin: 6px 8px 0 8px;
}
.icon-button:hover .icon{
    background-position: bottom left;
}
.icon-button:hover{background-position: top left;}

/****/
.primary.bleft, .secondary.bleft{ float: left; }
.primary.bright, .secondary.bright{ float: right; }

.primary.b114{
    width: 114px;
    background-image: url(../../i/buttons/primary_114.png);
}

.primary.b140{
    width: 140px;
    background-image: url(../../i/buttons/primary_140.png);
}

.secondary.b140{
    width: 140px;
    background-image: url(../../i/buttons/secondary_140.png);
}

.secondary.b79{
    width: 79px;
    background-image: url(../../i/buttons/secondary_79.png);
}