.hidden { display: none; }
.clearl { clear: left; }
.clearr { clear: right; }
.clear { clear: both; }

.icon-download{
    padding-left: 32px;
    height: 24px;
    line-height: 27px;
    background: transparent url(../../i/icons/download.png) no-repeat top left;
}
.icon-share{
    padding-left: 32px;
    height: 24px;
    line-height: 27px;
    background: transparent url(../../i/icons/share.png) no-repeat top left;
}
    
.icon-plus{
    height: 22px;
    line-height: 23px;
    padding-left: 28px;
    background: transparent url(../../i/icons/plus.png) no-repeat top left;
}
.icon-plus:hover{
    background-position: bottom left;
}
.icon-plus.alone{
    width: 22px; padding: 0; display: block;
}

.icon-gear{
    display: block;
    height: 22px;
    line-height: 23px;
    width: 22px;
    background: transparent url(../../i/icons/gear_22x22.png) no-repeat top left;
}
.icon-gear:hover{
    background-position: bottom left;
}

.icon-delete{
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
    background: transparent url(../../i/icons/x.png) no-repeat top left;
    display: block;
}
.icon-delete:hover{
    background-position: bottom left;
}
.dialog{display: none;}

.divider{border:0; border-bottom: 1px solid #ddd; height: 1px; margin: 20px 0;}
