#tabs, .tabs {
    height: 35px;
    padding-top: 5px;
    border-bottom: 1px solid #eee;
}

#tabs a, #tabs a:active,
.tabs a, .tabs a:active{
    color: #888;
    float: left;
    display:block;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ddd;
    border-bottom: none;
    margin: 0 0 0 5px;
    -moz-border-radius: 3px 3px 0 0;
}

#tabs a:hover, #tabs a.current,
.tabs a:hover, .tabs a.current{
    color: #222;
    border: 1px solid #aaa;
    border-bottom: none;
    background: #fff;
}

#sidepanel-nav{}
#sidepanel-nav .tab{
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-weight: bold;
    font-size: 14pt;
}
#sidepanel-nav .tab.first{
    border-top: 1px solid #ddd;
}
#sidepanel-nav .tab.current{
    background: #fff;
}