.activity-feed{ position: relative; margin-bottom: 50px;}
.activity-feed a{ font-weight: normal; }
.activity-feed .item{ margin: 10px 0; }

.activity-feed .message{
    margin-left: 32px;
    line-height: 1.3em;
    font-size: 9pt;
}

.activity-feed .date{
    margin-left: 32px;
    color: #999;
    font-size: 8pt;
    margin-top: 3px;
}

.activity-feed .item .icon{
    background: transparent url(../../i/icons/feed_icons.png) no-repeat 0 0;
    width: 22px;
    height: 21px;
    display: block;
    float: left;
    margin-top: 2px;
    color: #fff;
    font-size: 7pt;
    font-weight: bold;
    text-align: center;
    line-height: 21px;
}

.activity-feed .more a{
    width: 40px; height: 21px;
    padding-left: 25px; line-height: 21px;
    color: #fff;
    display: block;
    font-weight: bold;
    background: transparent url(../../i/site/more_bg.png) no-repeat top left;
    position: absolute;
    left: 32px; bottom: -29px;
}
.activity-feed .more a:hover{
    background-position: bottom left;
    text-decoration: none;
}

/*
 invite, invite_accept
 comment_complete
*/
.activity-feed .item .icon.new_file{background-position: -66px 0;}
.activity-feed .item .icon.new_project{background-position: -66px 0;}
.activity-feed .item .icon.new_version{background-position: -22px 0;}
.activity-feed .item .icon.new_comment{background-position: 0px 0;}
.activity-feed .item .icon.new_reply{background-position: 0px -21px;}
.activity-feed .item .icon.comment_complete{background-position: -22px -21px;}
.activity-feed .item .icon.invite{background-position: -44px -21px;}
.activity-feed .item .icon.invite_accept{background-position: -44px 0px;}

/***** PEOPLE ********/

#people{
    padding: 10px 0;
}
#people .user-thumb{
    float: left;
    margin-left: 6px;
    margin-bottom: 6px;
    padding: 4px;
    background: #fff;
}
#people .user-thumb.size-32 img,
#people .user-thumb.size-32
{width: 32px; height: 32px;}

#people.people-collapsed .full-view{display: none;}
#people.people-full .collapsed-view{display: none;}

#people .collapsed-view .user-thumb.mod-6{margin-left:0;}

#people .full-view .user{
    height: 40px;
    margin: 0 0 10px 0;
    padding: 1px 0;
}
#people .full-view .user-thumb{
    margin: 0;
}
#people .full-view h4{
    margin: 3px 0 4px 50px; padding: 0;
}
#people .full-view .meta{
    color: #999;
    margin: 0 0 0 50px;
    font-size: 9pt;
    line-height: 20px;
}
#people .full-view .meta .status{
    color: #bbb;
    font-style: italic;
}