
.attribute-table{width: 100%;}
.attribute-table td{
    width: 50%;
    padding: 0 0 20px 0;
    vertical-align: top;
    text-align: left;
}
.attribute-table td{font-weight: bold;}
.attribute-table td div{font-weight: normal;}
.items .item{
    margin: 15px 0;
}
.attribute-table td .items .item{
    margin: 0;
}