
#header-inner, #page-inner, #footer-inner{width: 1140px !important;}

#sidepanel{width: 300px; float: left;}
.sidepanel{background: #f5f5f5;}

#content{margin-left: 310px;}

#sidepanel-tabs a, #sidepanel-tabs a:active{
    color: #999;
    background: #f5f5f5;
}
#sidepanel-tabs a:hover, #sidepanel-tabs a.current{
    color: #222;
    border: 1px solid #aaa;
    border-bottom: none;
    background: #f5f5f5;
}


#sidepanel .info{
    padding: 20px 10px 10px 10px;
}

#sidepanel .info ul, #sidepanel .info li{list-style: none; margin: 0; padding: 0;}
#sidepanel .info li{margin: 5px 0; }

#sidepanel .new-button{
    padding: 10px;
}

/**** PROJECT TAB ****/
#sidepanel .projects .project:first-child{ border-top: 1px solid #ddd; }
#sidepanel .projects .project{
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    color: #333;
}
#sidepanel .projects .project:hover{ text-decoration: none; }
#sidepanel .projects .project:hover h3{ text-decoration: underline; }
#sidepanel .projects .project h3{ margin-top: 0; }
#sidepanel .projects .project.selected{ background: #fff; }
#sidepanel .projects .project .description{ font-weight: normal; }