
#content{margin-left: 310px;}
#content-header{height: 50px; position: relative;}
#content-header h1{
    margin: 0;
    font-size: 16pt;
}
#content-header h1 .path-separator{
    color: #cbcbcb;
    font-size: 28pt;
    vertical-align:middle;
    line-height: 31px;
    padding: 0 6px 0 9px;
}
#content-header h1 a, #content-header h1 a:active{color: #333; font-weight: normal}
#content-header h1 a:first-child{font-weight: bold}

#content-inner {margin-top: 10px; position: relative;}

#header-inner, #page-inner, #footer-inner{width: 1140px !important;}

#sidepanels{margin-top: 10px;}
#sidepanel{width: 300px; float: left; position: relative;}
.sidepanel{}

#sidepanel-tabs{
    height: 50px;
}
#sidepanel-tabs a, #sidepanel-tabs a:active{
    display: block;
    float: left;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #999;
    margin-right: 5px;
    background: transparent url(../../i/site/blue_tab_large.png) 0 -94px;
    width: 80px;
    height: 47px;
    line-height: 38px;
    text-align: center;
    padding: 0;
    border: 0;
}
#sidepanel-tabs a.current{
    background-position: 0 0;
    line-height: 40px;
    text-shadow: none;
}
#sidepanel-tabs a.current:hover{
    background-position: 0 -47px;
}
#sidepanel-tabs a:hover{
    background-position: 0 -141px;
}


#sidepanel .info{
    padding: 0;
}

#sidepanel .info ul, #sidepanel .info li{list-style: none; margin: 0; padding: 0;}
#sidepanel .info li{margin: 5px 0; }

#sidepanel .new-button{
    padding: 10px;
}

/**** collapse stuff ****/

#sidepanel-collapse{
    display: block;
    height: 14px; width: 14px;
    background: transparent url(../../i/icons/arrows.png) no-repeat 0 0;
}

#sidepanel.collapsed{
    width: 0px;
}
#sidepanel.collapsed .sidepanel-tabs{ display: none; }
#sidepanel.collapsed #sidepanels{ display: none; }

#content.collapsed #sidepanel-collapse{
    background-position: bottom left;
}

/*confusing, but consistent*/
#content.collapsed{margin-left: 0px;}

/**** PROJECT TAB ****/
#sidepanel .projects .project:first-child{ border-top: 1px solid #ddd; }
#sidepanel .projects .project{
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    color: #333;
}
#sidepanel .projects .project:hover{ text-decoration: none; }
#sidepanel .projects .project:hover h3{ text-decoration: underline; }
#sidepanel .projects .project h3{ margin-top: 0; }
#sidepanel .projects .project.selected{ background: #fff; }
#sidepanel .projects .project .description{ font-weight: normal; }

#sidepanel #secondary-links, #sidepanel #secondary-links li{margin: 0; padding: 0; list-style:none;}
#sidepanel #secondary-links {margin: 20px 0;}
#sidepanel #secondary-links li {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#sidepanel #secondary-links a{ display: block; color: #666; padding: 10px; }
#sidepanel #secondary-links a.current{ background: #fff; }