#page-inner>.organization{
    position: relative;
}

#content{
    float: right;
    margin-top: -25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px -1px #333;
    width: 820px;
    background: #fff url(../../i/site/ibroughtthenoise.png) repeat;
    padding: 15px;
}

#content.has-toolbar{
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-radius: 0 5px 5px 5px;
}
#content.collapsed{
    width: 1140px;
    float: left;
}

#content-header{position: relative;}
#content-header h2{
    margin: 0;
    font-size: 16pt;
    font-weight: normal;
}
#content-header h2 a.root-path{
    display: block;
    height: 21px; width: 25px;
    background: transparent url(../../i/icons/house.png) top left no-repeat;
    float: left;
    text-indent: -9999px;
    margin-top: 2px;
}
#content-header h2 a.root-path:hover{
    background-position: bottom left;
}
#content-header h2 .path-separator{
    color: #cbcbcb;
    font-size: 28pt;
    vertical-align:middle;
    line-height: 31px;
    padding: 0 6px 0 9px;
    font-weight: bold;
}
#content-header h2 a, #content-header h2 a:active{color: #333; font-weight: normal}
#content-header h2 a:first-child{font-weight: bold}

#content-inner {margin-top: 10px; position: relative;}

#header-inner, #page-inner, #footer-inner{width: 1140px !important;}
#notification-display>div {width: 1110px !important;}

#sidepanels{margin-top: 10px;}
#sidepanel{width: 270px; float: left; position: relative;}
.sidepanel{}

#sidepanel-tabs{
    height: 50px;
}
#sidepanel-tabs a, #sidepanel-tabs a:active{
    display: block;
    float: left;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #999;
    margin-right: 5px;
    background: transparent url(../../i/site/blue_tab_large.png) 0 -94px;
    width: 80px;
    height: 47px;
    line-height: 38px;
    text-align: center;
    padding: 0;
    border: 0;
}
#sidepanel-tabs a.current{
    background-position: 0 0;
    line-height: 40px;
    text-shadow: none;
}
#sidepanel-tabs a.current:hover{
    background-position: 0 -47px;
}
#sidepanel-tabs a:hover{
    background-position: 0 -141px;
}


#sidepanel .info{
    padding: 0;
}

#sidepanel .info ul, #sidepanel .info li{list-style: none; margin: 0; padding: 0;}
#sidepanel .info li{margin: 5px 0; }

#sidepanel a.action{
    font-size: 10pt;
    color: #333;
    margin: 10px 0;
    display: block;
}

/**** dir-tree for sidepanel stuff ****/

.dir-tree, #sidepanel-nav .tab{position: relative;}
.dir-tree .bg, #sidepanel-nav .tab .bg{
    position: absolute;
    right: 0px;
    top: -1px;
    display: none;
    width: 294px;
    height: 39px;
    background: transparent url(../../../i/site/arrow_bg.png) no-repeat top right;
    z-index: 1;
}
.dir-tree.current>.bg, #sidepanel-nav .tab.current>.bg, .dir-tree:hover>.bg{
    display: block;
}
    

.dir-tree h3{margin: 0; position: relative; height: 38px; z-index: 2}
.children .dir-tree h3 a span{
    padding-left: 10px;
}
.children .dir-tree h3 a:hover{
    font-weight: bold;
    text-decoration: none;
}
.children .dir-tree h3 .icon-folder{
    float: left;
    margin-top: 8px;
}
.children .dir-tree.current>h3 .icon-folder, .dir-tree:hover>h3 .icon-folder{
    background-position: bottom left;
}
.dir-tree h3 a, #sidepanel-nav .tab{
    display:block;
    height: 35px;
    line-height: 38px;
    font-weight: normal;
    color: #333;
    font-size: 12pt;
}
.dir-tree .children{margin: 0 0 0 20px;}

.dir-tree.current>h3 a, #sidepanel-nav .tab.current{
    font-weight: bold;
    color: #000;
}

/**** collapse stuff ****/

#sidepanel-collapse{
    display: block;
    height: 14px; width: 14px;
    background: transparent url(../../i/icons/arrows.png) no-repeat 0 0;
}
#content-toolbar{
    position: absolute;
    left: -46px;
    top:-15px;
    width: 15px;
    background: transparent url(../../i/site/ibroughtthenoise.png) repeat 0 0;
    
    padding: 5px 8px;
    
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    z-index: 10;
    
    box-shadow: -2px 1px 2px -1px #666;
}

#sidepanel.collapsed{
    width: 0px;
}
#sidepanel.collapsed .sidepanel-tabs{ display: none; }
#sidepanel.collapsed #sidepanels{ display: none; }

#content.collapsed #sidepanel-collapse{
    background-position: bottom left;
}
#content.collapsed #sidepanel-collapse.absolute{
    left: -25px;
}
/*confusing, but consistent*/
#content.collapsed{margin-left: 0px;}

/**** USERs attached to things ****/

.user-list{
    border-top: 1px solid #CCC9C0;
    border-bottom: 1px solid #CCC9C0;
}
.user-list .user:first-child{
    border-top: none;
}
.user-list .user{
    border-top: 1px solid #E0DDD4;
    min-height: 17px;
    padding: 10px 0;
}
.user-list .user .name{
    font-size: 12pt;
    font-weight: bold;
}

.user-list .user .role{margin-right: 10px;}
.user-list .user .actions, .user-list .user .role{float: right;}

/**** PROJECT TAB ****/
#sidepanel .projects {
    border-top: 1px solid #CCC9C0;
    border-bottom: 1px solid #CCC9C0;
}
#sidepanel .projects .project:first-child{ border-top: none; }
#sidepanel .projects .project{
    display: block;
    border-top: 1px solid #E0DDD4;
    padding: 10px 0;
    color: #333;
}
#sidepanel .projects .project:hover{ text-decoration: none; }
#sidepanel .projects .project:hover h3{ text-decoration: underline; }
#sidepanel .projects .project h3{ margin-top: 0; }
#sidepanel .projects .project.selected{ background: #fff; }
#sidepanel .projects .project .description{ font-weight: normal; }

#sidepanel .info{margin: 0 0 20px 0;}

#new-project-link{display: block;}

#sidepanel #secondary-links, #sidepanel #secondary-links li{margin: 0; padding: 0; list-style:none;}
#sidepanel #secondary-links {margin: 45px 0 0 0;}
#sidepanel #secondary-links li {
    border-top: 1px solid #CCC9C0;
    border-bottom: 1px solid #CCC9C0;
}
#sidepanel #secondary-links a{
    display:block;
    height: 35px;
    line-height: 38px;
    font-weight: normal;
    font-size: 12pt;
    color: #333;
}
#sidepanel #secondary-links a.current{ background: #fff; }

#org-settings-link{
    background: transparent url(../../i/icons/gear.png) no-repeat right 5px;
}

/**** headers ****/
.section-heading .actions{
    float: right;
    font-size: 10pt;
    text-transform: none;
    color: #333;
}

#sidepanel .section-heading .actions{
    float: right;
    font-size: 9pt;
    text-transform: none;
    color: #333;
}
#sidepanel .section-heading .icon-plus.small{
    background-image: url(../../i/icons/plus_small.png);
    height: 16px;
    line-height: 18px;
    padding-left: 23px;
}

#content .section-heading{
    text-transform: uppercase;
    color: #ADACA7;
    font-size: 13pt;
    line-height: 22px;
    border-bottom: 1px solid #E0DDD4;
    padding: 4px 0;
    margin: 0;
}

#sidepanel .section-heading{
    text-transform: uppercase;
    color: #ACACA6;
    border-bottom: 1px solid #CAC8C0;
    font-size: 11pt;
    padding: 0px 0;
    line-height: 24px;
    margin: 0;
    clear: both;
}