
html{ margin: 0; padding: 0; }
body{
    font-family: helvetica, arial;
    font-size: 10pt;
    padding: 0;
    margin: 0;
    background: transparent url(../i/site/ibroughtthenoise.png) repeat;
}
a{outline: none; text-decoration: none; font-weight: bold; border: none;}
a:hover{text-decoration: underline;}
img{border: none;}

#page{padding: 10px 0;}

#header{
    padding: 10px 0;
}
#header h1{ margin: 0; }
#header h1 a, #header h1 a:hover, #header h1 a:active{ color: #000; text-decoration: none;}
#header h2{ font-size: 10pt; font-weight: normal; margin: 0;}
#header-inner, #page-inner, #footer-inner{
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#header-right{float: right;}
